<div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.symbol" placeholder="Symbol">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.previousPrice" placeholder="Previous Closing Price">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="data.currentPrice" placeholder="Current Price">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="onSaveClick(data)" *ngIf="data.action">Save</button>
    <button mat-button (click)="onUpdateData(data)" *ngIf="!data.action" cdkFocusInitial>Update</button>
  </div>